.dark-card-bg {
    background-color:#04121e !important;
 }
  
:root {
    --bs-card-bg:#04121e; /* Your preferred dark background color */
  }
body {
    background-color:#04121e; /* Dark theme for the entire page */
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  
  .card {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background-color: var(--bs-card-bg);
  }
  
  .card-image-container {
    width: 100%;
    padding-top: 115%; /* Adjust this value to change the aspect ratio */
    position: relative;
    width: 100%;
  }
  
  .card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto; /* Change to auto to maintain the aspect ratio of the image */
    object-fit: contain; /* Change to contain to ensure the full image is displayed */
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
  }
  
  .card-image:hover {
    transform: scale(1.3); /* Scales the image up to 110% on hover */
  }
  
  .card-info {
    padding: 30px;
    background-color:#04121e;;
    color: white;
    
  }
  
  .card-title,
  .card-author,
  .card-price {
    margin: 0;
    padding: 2px 0;
  }
  
  .card-price span {
    font-weight: bold;
    color: #ff375f;
  }
  
  .card-actions {
    display: flex;
    justify-content: space-around;
    padding: 14px;
    background-color: #04121e;
  }
  
  .wishlist-button,
  .cart-button {
    border: none;
    background-color: #ff375f;
    color: white;
    padding: 8px 14px;
    border-radius: 20px;
    font-size: 13px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .wishlist-button:hover,
  .cart-button:hover {
    background-color: #ff2d55;
  }
  
  .wishlist-button .fa-heart,
  .cart-button .fa-shopping-cart {
    margin-right: 7px;
  }
  .edit-button {
    border: none !important;
    background-color: #ff375f !important;
    color: white !important;
    padding: 8px 14px !important;
    border-radius: 20px !important;
    font-size: 13px !important;
    cursor: pointer !important;
    transition: background-color 0.3s ease !important;
    width: 50%;
    margin-left: 50px;
}

.edit-button:hover {
    background-color:  #04121e!important;
}