.custom-caption h5 {
  font-size: 10rem; /* Adjust the size as needed */
  font-weight: bold;
  text-align: center;
  font-family: 'Arial', sans-serif; /* Change the font family as desired */
}

.custom-caption p {
  font-size: 2rem; /* Adjust the size as needed */
  text-align: center;
  font-family: 'Arial', sans-serif; /* Change the font family as desired */
}

/* Ensure the caption is centered vertically */
.carousel-caption {
  bottom: 40%;
  transform: translateY(50%);
}

