.App {
  text-align: center;
  background-color:  #04121e; /* Dark background for the entire app */
  color: white; /* Ensures text is visible on the dark background */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #04121e;/* Already has a dark background */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; /* Text color for dark theme */
}

.App-link {
  color: #61dafb; /* This color should be fine, but you can change it if it doesn't fit the theme */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
